@import '../node_modules/normalize-css/normalize.css';
@import '../node_modules/w3-css/w3.css';

* {
	font-family: 'Roboto', sans-serif;
}

.display-none {
	display: none;
}

#app-header {
	width: 100vw;
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: baseline;
	padding: 0;
}

#app-menu {
	/*position: static;*/
	margin-right: 1em;
}

#open-menu {
	height: 65px;	
}

@media print {
	#app-header, #tab-list {
		display: none;
	}
}

 /* Style the tab */
#tab-list {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
#tab-list button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
#tab-list button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#tab-list button.current {
    background-color: #ccc;
}

/* Style the tab content */
.invoice-form {
    display: none;
 } 

.invoice-form.current {
	display: block;
}

/* Invoice Header */

#info-header {
	display: flex;
	justify-content: space-around;
	width: 100vw;
}

#info-header section {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.info-header__edit-btn, .info-header__save-btn {
	align-self: flex-end;
}

.info-header__personal-street_addr {
	display: flex;
}

.info-header__personal-street_addr input[name="town_city"][readonly="readonly"], 
.info-header__personal-street_addr input[name="town_city"][readonly="true"] {
	width: 5.5em;
}


.info-header__personal-street_addr input[name="state_province"][readonly="readonly"], 
.info-header__personal-street_addr input[name="state_province"][readonly="true"] {
	width: 2em;
}


#info-header input[readonly] {
	border: none;
}

/* Invoice Container */

.container {
	display: flex;	
	width: 100vw;
	justify-content: center;
	align-items: center;
}

#hours-table, #hours-table td, #hours-table th {
	border: 1px solid #333;
	padding: 0 1em;
}
